/*=============== Responsive CaseStudy ===============*/

.container{
    
    /* For small devices */
    @media screen and (max-width : 768px) {

        /*=============== OVERVIEW ===============*/
            //Common Heading
            .overviewSection{
                display:flex; 
                flex-direction: column;
                gap: 8px;
        
                h3{
                    font-size: $font-lg; 
                }
            }

            //Overview Section
            .projectContent{

                //Thumnail Image
                .thumbnail{
                    height: 320px;

                    img{
                        display: flex;
                        width: auto;
                        height: 100%;
                    } 
                }
        
                //Project Overview
                .projectOverview{
                    padding: 40px 20px; 
                    gap: 32px;
        
                    //Title
                    .projectTitle{
                        h2{
                            font-size: $font-xl;
                        }
                    }
        
                    //Overview Block
                    .overview{
        
                        //Overview Description
                        .overviewSection{
                            gap: 4px;
                        }
        
                        //Roles, Duration, Tools
                        .overviewRow{
        
                            .eachOverviewRow{
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
        
                                .subOverviewRow{
                                    gap: 4px; 
                                    width: 100%;
                                }
                            }
                        }
        
                        //Show Project
                        .showProject{
                            display: flex;
                            flex-direction: row;
        
                            a{
                                display: flex;
                                flex-direction: row;
                                text-decoration: none;
                                gap: 8px;
        
                                h6{
                                    font-family: $proxima;
                                    font-size: $font-lg;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px;
                                    color: $gray-800;
                                }
        
                                //Right-Arrow
                                svg{
                                    color: $gray-800;
                                }
        
                                //Show Project OnHover
                                &:hover{
                                    h6{
                                        font-weight: 600;
                                        color: $purple-500;
                                    }
                                    svg{
                                        transform: translateX(.25rem);
                                        color: $purple-500;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }     
        
        /*=============== CONTEXT ===============*/
        
            //Context
            .context{
                background-color: #F3F7FF;

                .projectContext{
                    display:flex;
                    flex-direction: column; 
                    padding: 80px 20px; 
                    gap: 40px;
                }
            }

        /*=============== DESIGN PROCESS ===============*/    
        
            //Design Flow
            .designProcess{
                display:flex;
                flex-direction: column; 
                padding: 120px 20px; 
                gap: 40px;

                img{
                    width: 100%;
                }
            }

        /*=============== RESEARCH SECTION ===============*/   
        
            .initialResearchSection{
                background-color: #F9FAFB;

                .initialResearch{
                    padding: 140px 20px; 
                    gap: 40px;  
                }

                .painPointsFlow{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 20px;

                    .painPoint{
                        width: 100%;
                    }
                }
            }

    }

    /* For small screens devices */
    @media screen and (min-width : 993px) {


    }

    /* For laptop screens devices */
    @media screen and (min-width : 1400px) {
        

    }

    /* For large devices */
    @media screen and (min-width : 1920px) {


    }


}